/*  COLOR PALETTE  */

/*  60%  */
$dark-grey: #282c34;
$zsti-white: #e5e5e5;

$zsti-white-20: #e5e5e520;
$zsti-white-40: #e5e5e540;
$zsti-white-60: #e5e5e560;
$zsti-white-80: #e5e5e580;

/*  30%  */
$zsti-blue: #012676;

$zsti-blue-20: #01267620;
$zsti-blue-40: #01267640;
$zsti-blue-60: #01267660;
$zsti-blue-80: #01267680;
$zsti-blue-aa: #012676aa;
$zsti-blue-da: #012676da;

/*  10%  */
$zsti-yellow: #f9b522;

$zsti-yellow-20: #f9b52220;
$zsti-yellow-40: #f9b52240;
$zsti-yellow-60: #f9b52260;
$zsti-yellow-80: #f9b52280;