/*  COLOR PALETTE  */

/*  60%  */
$dark-grey: #282c34;
$zsti-white: #1A1E26;

$zsti-white-20: #1A1E2620;
$zsti-white-40: #1A1E2640;
$zsti-white-60: #1A1E2660;
$zsti-white-80: #1A1E2680;
$zsti-white-a: #1A1E26a0;
$zsti-white-c: #1A1E26c0;
$zsti-white-e: #1A1E26e0;

/*  30%  */
$zsti-blue: #212940;

$zsti-blue-20: #21294020;
$zsti-blue-40: #21294040;
$zsti-blue-60: #21294060;
$zsti-blue-80: #21294080;
$zsti-blue-a: #212940a0;
$zsti-blue-c: #212940c0;
$zsti-blue-e: #212940e0;

/*  10%  */
$zsti-yellow: #EDB938;

$zsti-yellow-20: #EDB93820;
$zsti-yellow-40: #EDB93840;
$zsti-yellow-60: #EDB93860;
$zsti-yellow-80: #EDB93880;
$zsti-yellow-a: #EDB938a0;
$zsti-yellow-c: #EDB938c0;
$zsti-yellow-e: #EDB938e0;