.account-nav {

    flex-basis: 30%;

    display: flex;
    flex-wrap: wrap;

}

.account-nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.account-nav-list a {

    flex-basis: 100%;
    display: flex;

}

.account-nav-list li ul a {
    flex-basis: 100%;
}

.account-nav-list-sub {
    display: none;
}