.account-nav {

    flex-basis: 30%;

    display: flex;
    flex-wrap: wrap;

}

.account-nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.account-nav-list a {

    flex-basis: 100%;
    display: flex;
    text-decoration: none;

}

.account-nav-list li ul a {
    flex-basis: 100%;
}

.account-nav-list {
    list-style-type: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}