@use '../../scss-components/colors' as clr;

.Account {

    margin-top: 10em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 26%;

    h2 {

        flex-basis: 100%;

    }

    .AccountNav {

        width: 100%;

    }

}