@use '../../../scss-components/colors' as clr;
@import '../../../scss-components/post';

.UserPosts {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .Section-title {

        flex-basis: 100%;

    }

    @include post;

}