@use '../../scss-components/colors' as clr;

.Navbar {

    flex-basis: 100%;
    background-color: clr.$zsti-blue-e;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 1vmin);
    padding: 0 6em;

    &-logo{

        &-container {

            flex-basis: 20%;
            display: flex;
            justify-content: flex-start;

        }

        &-image {

            height: 2.5em;

        }

    }

    &-menu {

        &-container {

            flex-basis: 80%;

        }

        &-list {

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            & a {
                flex-basis: 10%;
            }

        }

        &-item {

            border: 1px solid #00000000;

            display: inline-block;
            color: #DEDDD7;
            padding: .5em 1em;
            margin: 0 .8em;
            transition: all .2s;
            position: relative;

            &:hover {
                color: clr.$zsti-yellow;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border: inherit;
                transition: all .2s;
                border-color: clr.$zsti-yellow;
            }
        
            &::before {
                top: 0;
                left: 0;
                border-width: 0;
            }
        
            &::after {
                bottom: 0;
                right: 0;
                border-width: 0;
            }

            &:hover::before {
                border-width: 1px 0 0 1px;
            }

            &:hover::after {
                border-width: 0 1px 1px 0;
            }
        
            &:hover::before,
            &:hover::after {
                width: calc(10% + 12px);
                height: calc(10% + 12px);
            }

        }

    }

}