@use './scss-components/colors' as clr;

.App {
  
    text-align: center;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
  
  &-header {

    background-color: clr.$zsti-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: clr.$dark-grey;

  }

}