@use '../../../scss-components/colors' as clr;

.AddPost-container {

    margin-top: 4em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    flex-basis: 74%;

    .Section-title {

        flex-basis: 100%;

    }

}